<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie store</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
    @Scripts.Render("~/js/site.js")
</head>
<body>
    <header class="header">
        <div class="navigation">
            <nav class="nav-bar">
                <div class="left-section">
                    <div class="logo">AI</div>
                    <ul class="nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">GenAISites</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="right-section">
                    <div class="user-actions">
                        <a class="register" href="#">Register</a>
                        <a class="login" href="#">Login</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-section">
            <video loop muted autoplay="autoplay" preload="auto" id="background-video">
                <source src="@Url.Content("~/videos/video.mp4")" type="video/mp4">
            </video>
            <div class="overlay"></div>
            <div class="video-content">
                <h1 class="main-heading">Generative AI Technology</h1>
                <div class="content">
                    <p>
                        Any time an AI technology is generating something on its own, it can be referred to as
                        "generative AI." This umbrella term includes learning algorithms that make predictions
                        as well as those that can use prompts to autonomously write articles and paint pictures.
                        Techopedia
                    </p>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
           @RenderBody()
    </div>
    <footer>
        &#169; 2022 Ravindra Devrani
    </footer>
</body>
</html>